/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  color: #798285;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1260px;
  padding-left: 0;
  padding-right: 0;
}
/*@media (min-width: 1200px) {
		margin-bottom: 0px;
	}*/
/*

font-family: 'Open Sans', sans-serif;

font-family: 'Dosis', sans-serif;

*/
.header {
  width: 100%;
  height: 1062px;
  background-image: url(../img/bg/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation {
  width: 100%;
  height: 62px;
  background-color: rgba(0, 8, 12, 0.102);
}
.navigation__list {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 1.18px;
  line-height: 59px;
  margin: 0;
  padding: 0;
}
.navigation__list li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 43px;
}
.navigation__list li:last-child {
  margin-right: 0;
}
.navigation__list li a {
  color: #606060;
  text-decoration: none;
}
.navigation__list li a:hover,
.navigation__list li a:active,
.navigation__list li a:focus {
  color: #000;
  border-bottom: 2px solid #000;
}
.header-img {
  margin-top: 160px;
  margin-right: 30px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.discography {
  height: 1350px;
  background: linear-gradient(to top, #fafafa, #ffffff 50%);
}
.bg-body-img1 {
  width: 100%;
  height: 550px;
  background-image: url(../img/bg/bg-body1.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin-top: -300px;
}
.discography__vid-title {
  font-size: 23px;
  line-height: 35px;
  color: #000;
  margin-bottom: 20px;
}
.discography__vid-sub {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.2;
  text-align: left;
  padding-bottom: 20px;
}
.discography__vid-sub--m-b-50 {
  margin-bottom: 50px;
}
.discography__vid-play {
  width: 192px;
  height: 53px;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
  padding-top: 15px;
}
.discography__vid-play--bg1 {
  background-image: url(../img/play/play1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.discography__vid-play--bg2 {
  background-image: url(../img/play/play2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.discography__vid-play--bg3 {
  background-image: url(../img/play/play3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.discography__vid-play--white {
  color: #FFF;
}
.bg-body-img2 {
  width: 100%;
  height: 1050px;
  background-image: url(../img/bg/bg-img-99.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.composition__video {
  height: 420px;
}
.composition__video--1 {
  background-image: url(../img/video/v1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.composition__video--2 {
  background-image: url(../img/video/v2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.composition__video--3 {
  background-image: url(../img/video/v3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.composition__disc-card {
  position: relative;
  height: 420px;
  background-color: #f5f6f6;
  padding: 35px 60px 40px 20px;
}
.composition__disc-card--special {
  background-color: transparent;
  margin-top: 370px;
  height: 500px;
}
.social {
  width: 330px;
  height: 53px;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  right: 60px;
  bottom: 35px;
  padding-top: 30px;
}
.social-items {
  display: inline-block;
}
.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  width: 15px;
  height: 15px;
}
.social-icon-1 {
  background-image: url(../img/social/sound.png);
}
.social-icon-2 {
  background-image: url(../img/social/heart.png);
}
.social-icon-3 {
  background-image: url(../img/social/share.png);
}
.social-icon-4 {
  background-image: url(../img/social/comment.png);
}
.tracks {
  width: 100%;
  height: 640px;
  margin-top: 160px;
  margin-bottom: 160px;
  background-image: url(../img/bg/bg-body2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.tarcks-slider__title {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}
.tarcks-slider__slogan {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  color: #565e61;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.tarcks-slider__comment {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  color: #565e61;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.heading {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  line-height: 59px;
  color: #000;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.heading--mt-300 {
  margin-top: 700px;
}
.subtitle {
  width: 735px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.type-date {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #000;
}
.type-name {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.card-title {
  padding-top: 75px;
  padding-bottom: 20px;
  font-size: 23px;
  line-height: 24px;
  color: #000;
}
.card-title--p-t-40 {
  padding-top: 40px;
}
.card-sub {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.8;
}
.card-sub--m-b-35 {
  margin-bottom: 35px;
}
.card-sub--m-b-60 {
  margin-bottom: 60px;
}
.button {
  position: absolute;
  left: 20px;
  bottom: 35px;
  width: 192px;
  height: 53px;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.button a {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12px;
  width: 100%;
  color: #000;
  text-decoration: none;
}
.button .fa {
  margin-left: 15px;
}
.button--special {
  position: absolute;
  left: 0px;
  bottom: -60px;
}
