/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  color: #798285;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/*@media (min-width: 1200px) {
		margin-bottom: 0px;
	}*/
/*

font-family: 'Open Sans', sans-serif;

font-family: 'Dosis', sans-serif;

*/
.header {
  width: 100%;
  height: 1062px;
  background-image: url(../img/bg/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  top: 2px;
  right: 25px;
  color: #b2b2b2;
  z-index: 2;
  cursor: pointer;
}
.navigation__toggle:hover,
.navigation__toggle:focus,
.navigation__toggle:active {
  color: #fff;
}
@media (min-width: 1200px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__toggle--fixed {
  position: fixed;
}
.navigation {
  width: 100%;
  height: 62px;
  background-color: rgba(0, 8, 12, 0.102);
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: none;
  text-transform: uppercase;
  list-style-type: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 8, 12, 0.8);
  text-align: center;
}
.navigation__list--open {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .navigation__list {
    display: block;
    position: static;
    background-color: transparent;
    font-size: 14px;
  }
}
.navigation__list li {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
  letter-spacing: 1.18px;
  line-height: 59px;
}
@media (min-width: 1200px) {
  .navigation__list li {
    font-size: 17px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 23px;
  }
  .navigation__list li:last-child {
    margin-right: 0;
  }
}
.navigation__list li a {
  color: #b2b2b2;
  text-decoration: none;
}
.navigation__list li a:hover,
.navigation__list li a:active,
.navigation__list li a:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
}
@media (min-width: 1200px) {
  .navigation__list li a {
    color: #606060;
  }
  .navigation__list li a:hover,
  .navigation__list li a:active,
  .navigation__list li a:focus {
    color: #000;
    border-bottom: 2px solid #000;
  }
}
.header-img {
  max-width: 428px;
  height: 397px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 230px;
  background-image: url(../img/title.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
@media (min-width: 1200px) {
  .header-img {
    margin-top: 170px;
  }
}
.discography {
  height: 1350px;
  background: linear-gradient(to top, #fafafa, #ffffff 50%);
  width: 100%;
  height: auto;
  background-image: url(../img/bg/bg-body1.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.discography__vid-title {
  font-size: 23px;
  line-height: 35px;
  color: #000;
  margin-bottom: 20px;
}
.discography__vid-sub {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.2;
  text-align: left;
  padding-bottom: 20px;
}
.discography__vid-sub--m-b-50 {
  margin-bottom: 50px;
}
.discography__vid-play {
  width: 192px;
  height: 53px;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin-bottom: 90px;
  padding-top: 15px;
}
.discography__vid-play--bg1 {
  background-image: url(../img/play/play1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.discography__vid-play--bg2 {
  background-image: url(../img/play/play2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.discography__vid-play--bg3 {
  background-image: url(../img/play/play3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 250px;
}
@media (min-width: 1200px) {
  .discography__vid-play--bg3 {
    margin-bottom: 550px;
  }
}
.discography__vid-play--white {
  color: #FFF;
}
.tours {
  width: 100%;
  height: auto;
  background-image: url(../img/bg/bg-img-99.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 1200px) {
  .tours {
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}
.composition__video {
  cursor: pointer;
  width: 100%;
  height: 420px;
  margin-bottom: 50px;
}
.composition-card {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
}
.composition__video--1,
.composition__video--2,
.composition__video--3 {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.composition__video--1 {
  background-image: url(../img/video/v1.jpg);
}
.composition__video--2 {
  background-image: url(../img/video/v2.jpg);
}
.composition__video--3 {
  background-image: url(../img/video/v3.jpg);
}
.composition__disc-card {
  height: 600px;
  background-color: #f5f6f6;
  padding: 35px 60px 40px 20px;
  position: relative;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .composition__disc-card {
    height: 420px;
  }
}
.composition__disc-card--special {
  margin-top: 0;
  background-color: transparent;
  margin-bottom: 300px;
  height: 500px;
}
@media (min-width: 1200px) {
  .composition__disc-card--special {
    font-size: 16px;
    margin-top: 370px;
  }
}
.composition__disc-card--special p {
  font-size: 14px;
}
@media (min-width: 1200px) {
  .composition__disc-card--special p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .composition__disc-card--triangle-1:after {
    content: "";
    position: absolute;
    left: 600px;
    top: 200px;
    margin-left: 12px;
    width: 0;
    height: 0;
    border-left: 12px solid #f5f6f6;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
  .composition__disc-card--triangle-2:after {
    content: "";
    position: absolute;
    right: 600px;
    top: 200px;
    margin-left: 12px;
    width: 0;
    height: 0;
    border-right: 12px solid #f5f6f6;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
}
.social {
  width: 250px;
  height: 53px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .social {
    padding-top: 30px;
    margin-left: 40px;
  }
}
.social-icon-text {
  margin-left: -20px;
}
.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;
}
.social-icon-1 {
  background-image: url(../img/social/sound.svg);
}
.social-icon-2 {
  background-image: url(../img/social/heart.svg);
}
.social-icon-3 {
  background-image: url(../img/social/share.svg);
}
.social-icon-4 {
  background-image: url(../img/social/comment.svg);
}
.social-wrapper {
  height: 106px;
  position: absolute;
  bottom: 5px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 1200px) {
  .social-wrapper {
    position: absolute;
    bottom: 35px;
    height: 53px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.card-wrapper {
  height: auto;
}
.tracks {
  width: 100%;
}
.tracks-wrapper {
  width: 100%;
  height: 642px;
  background-image: url(../img/bg/bg-body2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tracks-img {
  width: 128px;
  height: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  margin-bottom: 40px;
  background-image: url(../img/music-slider.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.tarcks-slider__title {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 25px;
}
.tarcks-slider__slogan {
  color: #565e61;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}
.tarcks-slider__comment {
  color: #565e61;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 55px;
}
.events {
  width: 100%;
  height: auto;
  background-image: url(../img/bg/bg-body3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.events-card__card {
  height: 422px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.events-card__card:before {
  position: absolute;
  right: 20px;
  bottom: -50px;
  content: "00";
  color: rgba(0, 8, 12, 0.102);
  font-size: 82px;
  line-height: 142px;
  font-weight: 700;
}
.events-card__item {
  padding: 32px;
}
.events-card__card--1 {
  background-image: url(..//img/card/bg-card1.jpg);
}
.events-card__card--1:before {
  content: "01";
}
.events-card__card--2 {
  background-image: url(../img/card/bg-card2.jpg);
}
.events-card__card--2:before {
  content: "02";
}
.events-card__card--3 {
  background-image: url(../img/card/bg-card3.jpg);
}
.events-card__card--3:before {
  content: "03";
}
.events-card__card--4 {
  background-image: url(../img/card/bg-card4.jpg);
}
.events-card__card--4:before {
  content: "04";
}
.events-card__card--5 {
  background-image: url(../img/card/bg-card5.jpg);
}
.events-card__card--5:before {
  content: "05";
}
.events-card__card--6 {
  background-image: url(../img/card/bg-card6.jpg);
}
.events-card__card--6:before {
  content: "06";
}
.history {
  width: 100%;
  height: auto;
}
.history-date-line {
  width: 100%;
  height: 1105px;
  background-image: url(../img/bg/bg-body4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.history-date-line__wrapper {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 250px;
}
.history-date-line__title {
  width: 279px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding-top: 40px;
}
@media (min-width: 1500px) {
  .hdl-2 {
    width: 150px;
    border-top: 1px solid #B2B2B2;
  }
}
@media (min-width: 1700px) {
  .hdl-3 {
    width: 145px;
    border-top: 1px solid #B2B2B2;
  }
  .hdl-4 {
    width: 145px;
    border-top: 1px solid #B2B2B2;
  }
}
.contacts {
  width: 100%;
  height: auto;
  background-image: url(../img/bg/bg-body5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contacts__block {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  border-top: 1px solid #000;
  padding-top: 20px;
  margin-bottom: 300px;
}
@media (min-width: 768px) {
  .contacts__block {
    height: 192px;
    border-left: 1px solid #000;
    border-top: none;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.contacts__block a {
  cursor: pointer;
  text-decoration: none;
}
.contacts__social {
  width: 19px;
  height: 19px;
  margin-left: 23px;
  background-repeat: no-repeat;
  background-position: cover;
}
.contacts__social--facebook {
  background-image: url(../img/social/facebook.png);
}
.contacts__social--instagram {
  background-image: url(../img/social/instagram.png);
}
.contacts__social--twitter {
  background-image: url(../img/social/twitter.png);
}
.form-group {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 0;
}
.contact-form__input {
  width: 100%;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  border: none;
  text-align: left;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.contact-form__input:focus {
  border-bottom: 1px solid #62a2ad;
}
.contact-form__input--mt-0 {
  margin-top: 0px;
}
input {
  outline: none;
}
.contact-form__submit {
  width: 100%;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contact-form__submit {
    margin-bottom: 250px;
  }
}
label.error {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  background-color: #eab6b6;
  display: block;
  color: #000;
  padding: 5px 15px 5px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}
label.error:after {
  content: "";
  position: absolute;
  top: -8px;
  bottom: 100%;
  left: 40px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #eab6b6;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.contact-form__success {
  background-color: #62a2ad;
  display: block;
  border-radius: 8px;
  color: #000;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 14px;
}
.cmn-toggle-switch {
  font-size: 0;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 16px;
  display: block;
  overflow: hidden;
  width: 50px;
  height: 45px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  text-indent: -9999px;
  border: none;
  border-radius: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (min-width: 1200px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.section {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 150px;
  }
}
.heading {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #454545;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}
@media (min-width: 768px) {
  .heading {
    font-size: 36px;
    line-height: 40px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 50px;
    line-height: 59px;
  }
}
.heading--history-date-line {
  font-size: 16px;
  color: #B2B2B2;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .heading--history-date-line {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .heading--history-date-line {
    font-size: 35px;
  }
}
.heading--hdl-1 {
  color: #575A59;
}
@media (min-width: 768px) {
  .heading--hdl-1:after {
    content: "";
    position: absolute;
    top: 25px;
    right: -50px;
    width: 10px;
    height: 10px;
    background-color: #575A59;
    border-radius: 20px;
  }
  .heading--hdl-1:before {
    content: "";
    position: absolute;
    left: -50px;
    top: 25px;
    width: 10px;
    height: 10px;
    background-color: #575A59;
    border-radius: 20px;
  }
}
.heading--discography {
  background: -webkit-linear-gradient(left, #9b6d4e, #745758);
  background: -o-linear-gradient(left, #9b6d4e, #745758);
  background: linear-gradient(to right, #9b6d4e, #745758);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
}
@media (min-width: 1200px) {
  .heading--discography:before {
    content: "";
    position: absolute;
    left: -80px;
    top: 30px;
    right: -80px;
    border-top: 1px solid #000;
    width: 503px;
    margin-left: auto;
    margin-right: auto;
  }
}
.heading--tours {
  background: -webkit-linear-gradient(bottom, #8dbab3, #62a2ad);
  background: -o-linear-gradient(bottom, #8dbab3, #62a2ad);
  background: linear-gradient(to top, #8dbab3, #62a2ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
}
@media (min-width: 1200px) {
  .heading--tours:before {
    content: "";
    position: absolute;
    left: -50px;
    top: 30px;
    right: -50px;
    border-top: 1px solid #000;
    width: 503px;
    margin-left: auto;
    margin-right: auto;
  }
}
.heading--compositions {
  color: #000;
}
@media (min-width: 1200px) {
  .heading--compositions:before {
    content: "";
    position: absolute;
    left: -23px;
    top: 30px;
    right: -23px;
    border-top: 1px solid #000;
    width: 613px;
    margin-left: auto;
    margin-right: auto;
  }
}
.heading--events {
  color: #42717E;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px) {
  .heading--events {
    margin-top: 150px;
  }
}
@media (min-width: 1200px) {
  .heading--events {
    margin-top: 300px;
  }
  .heading--events:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 30px;
    right: -40px;
    border-top: 1px solid #000;
    width: 503px;
  }
}
.heading--history {
  color: #5B5C5A;
}
@media (min-width: 1200px) {
  .heading--history:before {
    content: "";
    position: absolute;
    left: -40px;
    top: 30px;
    right: -30px;
    border-top: 1px solid #000;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
  }
}
.heading--contact {
  color: #454545;
  text-align: left;
  margin-top: 150px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px) {
  .heading--contact {
    margin-top: 250px;
  }
  .heading--contact:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 30px;
    right: -285px;
    border-top: 1px solid #000;
    width: 499px;
  }
}
.subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.subtitle--history-date-line {
  width: 279px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.subtitle--contact {
  margin-bottom: 80px;
  text-align: left;
}
.subtitle-m-b-0 {
  margin-bottom: 0;
}
.type-date {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  position: relative;
}
.type-date:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 25px;
  right: 0px;
  border-bottom: 1px solid #000;
  width: 100%;
}
.card-date--t-line {
  margin-top: 70px;
}
.card-date--t-line:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -60px;
  height: 50px;
  border-left: 1px solid #000;
  margin-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.card-date--b-line {
  margin-bottom: 165px;
}
.card-date--b-line:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 45px;
  height: 167px;
  border-left: 1px solid #000;
  margin-left: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.type-date--no-line:after {
  content: "";
  border-bottom: none;
}
.type-date--mb-300 {
  margin-bottom: 300px;
}
.type-name {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.type-name--white {
  color: #FFF;
}
.card-title {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 23px;
  line-height: 24px;
  color: #000;
}
.card-title--t-line {
  position: relative;
  margin-bottom: 15px;
}
.card-title--t-line:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 85px;
  border-top: 1px solid #000;
  width: 133px;
}
.card-title--pt-75 {
  padding-top: 75px;
}
.card-title--mb-40 {
  margin-bottom: 20px;
}
.card-sub {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.8;
  position: relative;
}
.card-sub--m-b-35 {
  margin-bottom: 35px;
  color: #000;
}
.card-sub--m-b-60 {
  margin-bottom: 60px;
}
.button {
  width: 192px;
  height: 53px;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button a {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  width: 100%;
  color: #000;
  text-decoration: none;
}
.button .fa {
  margin-left: 15px;
}
.button:hover,
.button:focus,
.button:active {
  border: 1px solid transparent;
  background-color: #abacac;
}
.button--special {
  position: absolute;
  left: 0px;
  bottom: -60px;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.track-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.track-slider-theme .owl-controls .owl-buttons div {
  /*color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
  /*margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
  /*opacity: 0.5;*/
  position: absolute;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.track-slider-theme .owl-controls.clickable .owl-buttons div:hover {
  /*filter: Alpha(Opacity=100);/*IE7 fix*/
  /*opacity: 1;
	text-decoration: none;*/
}
@media (min-width: 768px) {
  .owl-prev {
    width: 85px;
    height: 171px;
    left: 0;
    top: 40%;
    background-image: url(../img/prev.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
  .owl-next {
    width: 85px;
    height: 171px;
    right: 0;
    top: 40%;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
/* Styling Pagination*/
.track-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.track-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #FFF;
}
.track-slider-theme .owl-controls .owl-page.active span,
.track-slider-theme .owl-controls.clickable .owl-page:active span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  background-color: transparent;
  border: 1px solid #FFF;
}
.track-slider-theme .owl-controls .owl-page.active span,
.track-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 0.8;
}
/* If PaginationNumbers is true */
.track-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
