.button{
	width: 192px;
	height: 53px;
	color: #000;	
	border: 1px solid #000;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;padding-top: 11px;
	-webkit-transition: all 0.2s ease-in;
	   -moz-transition: all 0.2s ease-in;
	    -ms-transition: all 0.2s ease-in;
	     -o-transition: all 0.2s ease-in;
	        transition: all 0.2s ease-in;
	.fa{
		margin-left: 15px;
	}
	&:hover, &:focus,&:active {
		color: #000;	
		border: 1px solid transparent;
		background-color: #abacac;
	}
}
.button--special {
	color: #000;
	position: absolute;
	left: 0px;
	bottom: -60px;
}
