.heading{
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
	line-height: 59px;
	color: #000;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 60px;
	margin-bottom: 60px;
	
}
.heading--mt-700 {
	margin-top: 700px;
}
.heading--mt-300 {
	margin-top: 300px;
}
.heading--mb-70 {
	margin-bottom: 70px;
}
.subtitle {
	width: 735px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
}
