.composition{
	
}
.composition__video {
	height: 420px;
	
	
}
.composition__video--1 {
	background-image: url(../img/video/v1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;

}
.composition__video--2 {
	background-image: url(../img/video/v2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	
}
.composition__video--3 {
	background-image: url(../img/video/v3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	
}

.composition__disc-card {
	height: 420px;
	background-color: #f5f6f6;
	padding: 30px 40px 30px 30px;
}