.composition{
	
}
.composition__video {
	height: 420px;
	
	
}
.composition__video--1 {
	background-image: url(../img/video/v1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;

}
.composition__video--2 {
	background-image: url(../img/video/v2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	
}
.composition__video--3 {
	background-image: url(../img/video/v3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	
}

.composition__disc-card {
	position: relative;
	height: 420px;
	background-color: #f5f6f6;
	padding: 35px 60px 40px 20px;
}
.composition__disc-card--special {
	background-color: transparent;
	margin-top: 370px;
	height: 500px;
}
.social {
	width: 330px;
	height: 53px;
	font-size: 14px;
	line-height: 24px;
	position: absolute;
	right: 60px;
	bottom: 35px;
	padding-top: 30px;
	
}
.social-items {
	display: inline-block;
}

.social-icon-1,.social-icon-2,.social-icon-3,.social-icon-4 {
	width: 15px;
	height: 15px;
}
.social-icon-1{
	background-image: url(../img/social/sound.png);
}
.social-icon-2{
	background-image: url(../img/social/heart.png);
}
.social-icon-3{
	background-image: url(../img/social/share.png);
}
.social-icon-4{
	background-image: url(../img/social/comment.png);
}
