.contacts {
	width: 100%;
	height: auto;
	background-image: url(../img/bg/bg-body5.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	-webkit-background-size: 100%;
     	-o-background-size: 100%;
        	background-size: 100%;
}
.contacts__block {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	border-top: 1px solid #000;
	padding-top: 20px;
	margin-bottom: 300px;

	@media (min-width: 768px) {
	height: 192px;
	border-left: 1px solid #000;
	border-top: none;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	}
	 a{
		cursor: pointer;
		text-decoration: none;
	}
}
.contacts__social {
	width: 19px;
	height: 19px;
	margin-left: 23px;
	background-repeat: no-repeat;
	background-position: cover;
}
.contacts__social--facebook {
	background-image: url(../img/social/facebook.png);
}
.contacts__social--instagram {
	background-image: url(../img/social/instagram.png);
}
.contacts__social--twitter {
	background-image: url(../img/social/twitter.png);
}

    //Form
.contact-form {
	
}
.form-group {
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 0;	
}
.contact-form__input {
	width: 100%;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	border: none;
	text-align: left;
	background-color: transparent;
	border-bottom: 1px solid #000;
	&:focus {
		border-bottom: 1px solid #62a2ad;
	}

}	
.contact-form__input--mt-0 {
	margin-top: 0px;
}
input {
		outline: none;
	}

.contact-form__submit {
	width: 100%;
	display: block;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-align: left;
	color: #000;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	margin-bottom: 50px;
	@media (min-width: 768px) {
	margin-bottom: 250px;}
}
label.error {
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	background-color: #eab6b6;
	display: block;
	color: #000;
	padding: 5px 15px 5px;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 0px;
	
	@cornerSize: 8px;
	
	&:after {
		content: "";
		position: absolute;
		top: -8px;
		bottom: 100%;
		left: 40px;
		
		margin-left: -@cornerSize;
		width: 0;
		height: 0;
		border-bottom: @cornerSize solid #eab6b6;
		border-right: @cornerSize solid transparent;
		border-left: @cornerSize solid transparent;	
	}
}

.contact-form__success {
    background-color: #62a2ad;
    display: block;
    border-radius: 8px;
    color: #000;
    padding: 5px 15px 8px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
}