.events {
	
}
.events__card-1 , .events__card-2, .events__card-3, .events__card-4,
.events__card-5, .events__card-6 {
	width: 385px;
	height: 422px;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 45px;
	padding: 32px;
}
.events__card-1 {
	background-image: url(..//img/card/bg-card1.jpg);
}
.events__card-2 {
	background-image: url(../img/card/bg-card2.jpg);
}
.events__card-3 {
	background-image: url(../img/card/bg-card3.jpg);
}
.events__card-4 {
	background-image: url(../img/card/bg-card4.jpg);
}
.events__card-5 {
	background-image: url(../img/card/bg-card5.jpg);
}
.events__card-6 {
	background-image: url(../img/card/bg-card6.jpg);
}

.bg-body-3 {
	width: 100%;
	height: 2000px;
	background-image: url(../img/bg/bg-body3.jpg);
	background-repeat: no-repeat;
	background-position: cover;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}