.events {
	width: 100%;
	height: auto;
	background-image: url(../img/bg/bg-body3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
}
