.header{
	width: 100%;
	height: 1062px;
	background-image: url(../img/bg/bg-header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.navigation__toggle{
	display: block;
	font-size: 38px;
	position: absolute;
	top: 2px;
	right: 25px;
	color: #b2b2b2;
	z-index: 2;
	cursor: pointer;
	
	&:hover, &:focus, &:active{
		color: #fff;	
	}
	@media (min-width:1200px) {
		display: none;
	}

}
.navigation__toggle--fixed {
	position: fixed;
}

.navigation {
	width: 100%;
	height: 62px;
	background-color: rgba(0, 8, 12, 0.102);
}
.navigation__list{
	margin: 0;
	padding: 0;
	display: none;
	text-transform: uppercase;
	list-style-type: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 8, 12, 0.8);
	text-align: center;
	&--open{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
	}

	@media (min-width:1200px) {
		display: block;
		position: static;
		background-color: transparent;
		font-size: 14px;
	}

	li{

		margin: 0;
		padding: 0;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		font-size: 20px;
		letter-spacing: 1.18px;
		line-height: 59px;	
		@media (min-width:1200px) {
		font-size: 17px;
		display: inline-block;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 23px;		

		&:last-child {
			margin-right: 0;
			}
		
		}
		a{
			color: #b2b2b2;
			text-decoration: none;
		
			&:hover,&:active,&:focus {
				color: #fff;
				border-bottom: 2px solid #fff;
			}
			@media (min-width:1200px) {
				color: #606060;
				
				&:hover,&:active,&:focus {
				color: #000;
				border-bottom: 2px solid #000;
				}
			}
		}
	}
}
.header-img{
	width: 428px;
	height: 397px;
	margin-left: auto;
	margin-right: auto;
	margin-top:230px;
	background-image: url(../img/title.png);
	background-repeat: no-repeat;
	background-position: center;
	@media (min-width: 1200px) {
		margin-top:170px;
		
	}

}
