.history {
	width: 100%;
	height: auto;
	padding-top: 150px;
	background-image: url(../img/bg/bg-body4.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	-webkit-background-size: 100%;
     	-o-background-size: 100%;
       	 background-size: 100%;
}
.history__date-line {
		display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
		   padding-top: 25px;
}
.hystory__title {
	width: 279px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}