.history-date-line {
		width: 100%;
	height: 1105px;
	background-image: url(../img/bg/bg-body4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;



}
.history-date-line__wrapper {
			display: flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
			 padding-top: 250px;

}
.history-date-line__title {
	width: 279px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
	padding-top: 40px;
}

	
@media (min-width: 1500px) {
.hdl-2 {
		width: 150px;
		border-top: 1px solid #B2B2B2;
}}
@media (min-width: 1700px) {
.hdl-3 {

		width: 145px;
		border-top: 1px solid #B2B2B2;
}

.hdl-4 {
		width: 145px;
		border-top: 1px solid #B2B2B2;
}
}