.bg-body-img2{
	width: 100%;
	height: 1050px;
	background-image: url(../img/bg/bg-img-99.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}
